.btn-margin-left {
  margin-left: 6px;
}

.btn-removal {
  background-color: #d50000; 
}

.btn-edit {
  background-color: #2979ff;
}

.btn-update {
  background-color: #43a047  
}

.btn-save {
  background-color: #00e676 
}